<div class="row">
  <div class="alpha omega twelve columns">
    <fieldset data-hook="adyen_transaction">
      <legend align="center"><%= Spree.t(:payment) %></legend>
      <dl>
        <dt><%= Spree.t(:amount) %></dt>
        <dd><%= payment.display_amount %></dd>
        <dt><%= Spree.t(:payment_method) %></dt>
        <dd><%= payment.payment_method.name %></dd>
        <dt><%= Spree.t(:response_code) %></dt>
        <dd><%= payment.response_code %></dd>
      </dl>
    </fieldset>
  </div>
</div>
